<a href="https://colab.research.google.com/github/shivusuhas149-web/my-project/blob/main/Copy_of_Welcome_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Colab!

In [ ]:
my_list=[1,4,5,6]
sum(my_list)
print(my_list)

[1, 4, 5, 6]

In [ ]:
student={
    "Name":"varun",
    "Score":{
        "python":27,
        "maths":88,
  },
}

In [ ]:
numbers=[10,20,30,20,40,10,50]
unique_numbers = []
for num in numbers:
  if num is unique_numbers:
    unique_numbers.append(num)
print("list after removing duplicates:",unique_numbers)

list after removing duplicates: []
list after removing duplicates: []

In [ ]:
marks={}
for i in range (2):
  subject=input("Enter subject name:")
  score=float(input("enter marks for"+subject+":"))
  marks[subject]=score
  print("marks dictionary:",marks)

Enter subject name:kannada
enter marks forkannada:98.45
marks dictionary: {'kannada': 98.45}
Enter subject name:english
enter marks forenglish:598
marks dictionary: {'kannada': 98.45, 'english': 598.0}

In [ ]:
subject={"python","java","c++","python","java script","java","python","java","c++","c"}
classroom=len(subject)
print(f"{classroom} classroom are required")

5 classroom are required

In [ ]:
s={9,9.0}
print(s)

{9}

In [ ]:
s={9,'9.0'}
print(s)

{9, '9.0'}

In [ ]:
dictionary={
    "table":["A piece of furniture",
             "list of facts and figures"],
    "cat":"A small element"
}
print(dictionary)

{'table': ['A piece of furniture', 'list of facts and figures'], 'cat': 'A small element'}

In [ ]:
numbers=(10,20,30,40,50)
total=sum(numbers)
print(" sum of all the element in the tuple:",total)

 sum of all the element in the tuple: 150
 sum of all the element in the tuple: 150

In [ ]:
numbers=[10,20,15,24,50,2]
maximum=max(numbers)
minimum=min(numbers)
print("maximum numbers:",maximum)
print("minimum numbers;",minimum)

maximum numbers: 50
minimum numbers; 2
maximum numbers: 50
minimum numbers; 2

In [ ]:
numbers=[10,220,30,2,5]
lowest=min(numbers)
print("lowest numberin the list is:",lowest)

lowest numberin the list is: 2
lowest numberin the list is: 2

In [ ]:
number=[10,20,30,54,85]
total=len(numbers)
print("total number of the element in the list is:",total)

total number of the element in the list is: 5
total number of the element in the list is: 5

In [ ]:
my_list=[10,20,30,40,50]
for element in my_list:
    print(element)

10
20
30
40
50